<div
  class="task-item"
  ng-class="{'task-item--completed': task.completed, 'task-item--editing': taskItem.editing, 'task-item--status-updated': taskItem.statusUpdated}"
  ng-controller="TaskItemController as taskItem"
  ng-repeat="task in taskList.tasks | taskStatus:app.state.params.filter track by $index">

  <div class="cell">
    <div
      aria-label="Task completed?"
      class="task-item__checkbox"
      ng-class="{'task-item__checkbox--checked': task.completed}"
      ng-click="taskItem.toggleCompleted()"
      ng-model="task.completed"
      role="checkbox">
      <svg width="24" height="24" viewBox="0 0 24 24">
        <path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z"></path>
      </svg>
    </div>
  </div>

  <div class="cell">
    <div
      class="task-item__title"
      ng-hide="taskItem.editing">
      {{ task.title }}
    </div>

    <form ng-show="taskItem.editing" ng-submit="taskItem.save()">
      <input
        autocomplete="off"
        class="task-item__input"
        escape="taskItem.cancelEdit()"
        name="taskTitle"
        ng-blur="taskItem.save()"
        ng-model="taskItem.title"
        required
        type="text">
    </form>
  </div>

  <div class="cell">
    <button
      class="task-item__button task-item__button--edit"
      ng-click="taskItem.edit()"
      type="button">
      <svg class="svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"></path>
      </svg>
    </button>
    <button
      class="task-item__button task-item__button--delete"
      ng-click="taskItem.delete()"
      type="button">
      <svg width="24" height="24" viewBox="0 0 24 24">
        <path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z"></path>
      </svg>
    </button>
  </div>
</div>
